.article-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    
  }
  

  .article-author {
    font-weight: bold;
    margin-bottom: 10px !important;
    display: flex;
    margin: 10px;
  }
  
  .article-title {
    margin: 15px;
    font-size: 1.2em;
  }
  
  .topic {
    color: #888;
    margin: 10px;
    font-size: 14px;
  }

  .article-date{
   font-size: 8px;
    margin: 5px;
    color : #82959B;
  }

  .article-comment{
    display: flex;
  }
  .article-icon{
    margin-right:10px ;
    margin-left: 10px;
    
  }
  .article-counter{
    font-size: 14px;
   
    
  }