.comment-card{
    border: 0.5px solid black;
    margin: 10px;
    border-radius: 10px;

    margin-bottom: 10px;
   
}

.comment-author{
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    
}

.comment-date{
    font-size: 8px;
   margin: 10px;
    color : #82959B;
}

.comment-body{
    margin-left: 10px !important;
    line-height: 2 !important;
    font-size: 10px;
    padding: 20px;
}

.comment-votes{
    margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
    font-weight: 200;
    color: red;
    font-size: 0.8rem;
    
}

.up-arrow {
    content: "\2191";
  }

.comment-delete{
    width: 50px;
display: flex;
margin-left: 10px;

}

.card-votes{
    height: 2px  !important;
    width: 2px !important;
}

.comment-delete{
    height: 1rem  !important;
    width: 1rem !important;
}