.nav-bar-links {
    display: flex;
    justify-content: center;
  }
  
 
  .header-user {
    margin-left: auto; 
    display: flex;
    align-items: center;
    
  }
  

  .nav-bar-links {
    display: flex;
    justify-content: center;
    font-size: 1.2rem ;
  }

  .link-text {
    margin: 0 10px; 
    text-decoration: none; 
    color: inherit; 
  }
  
  .header-avatar {
    display: flex;
    justify-content: space-around; 
    margin-left: auto; 
    flex-direction: column !important;
    
  }

  .avatar-name{
    font-size: 7px !important;
    text-align: center !important;
  }

  .news-icon {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

   
  }
  
  .nav-header {
    margin-left: 0  ; 
    padding-left: 0 ;  
  }

  .avatar-name{
    color: white;
    
  }