.homepage{
   display: flex;
    text-align: center;
    margin-top: 20px;
   
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
}

.homepage-card{
   margin: 10px;
}

.homepage-card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  

.homepage-header{
    text-align: center;
    margin: 20px !important;
}

.homepage-section{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.homepage-card-header{
    padding: 0;
    font-size: 15px !important;
}

.homepage-section{
    margin-top: 10px;
padding: 20px;
margin: 20px;
}

.homepage-links{
    text-align: center !important;
    justify-content: space-around
}