.homepage{
   display: flex;
    text-align: center;
    margin-top: 20px;
   
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
}

.homepage-card{
   margin: 10px;
    
   
}

.homepage-header{
    text-align: center;
    margin: 20px !important;
}

.homepage-section{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.homepage-card-header{
    padding: 0;
    font-size: 15px !important;
}

.homepage-section{
    margin-top: 10px;
padding: 20px;
margin: 20px;
}

.homepage-links{
    text-align: center !important;
    justify-content: space-around
}