.singleArticle {
    max-width: 800px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
  }
  
.single-title{

  display: flex;
  margin: 10px !important;
  margin-bottom: 20px;
}

  .single-title{
   justify-content: center;
    font-size: 2em !important;

  }
  .single-author{
    display: flex;
    font-size: 10px !important;
    flex-direction: column;
    margin: 10px;
    font-weight: bold !important;
  }

  .single-topic{
    font-size: 0.75rem;
    line-height: 1rem;
    border: 0.5px solid green;
    color: white;
   
    padding: 5px;
    border-radius: 10px;
   
    
  }
  
  .single-body {
    display: block !important;
    font-size: 12px !important;
    text-align: left !important;
    margin: 15px !important;
  }
  
  
  .single-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;

  }

  .single-link{
 
    height: auto;
    width: auto;
    padding: 0 10px;
    margin: 10px 50px 20px;
  }


  
