.singleArticle {
    max-width: 800px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
  }
  
.single-title{
  background-color: #f0f0f0;
  display: flex;
  margin-bottom: 20px;
}

  .single-title{
   justify-content: center;
    font-size: 2em;
  }
  .single-author{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
  }

  .single-topic{
    font-size: 0.75rem;
    line-height: 1rem;
    border: 0.5px solid green;
    padding: 5px;
    border-radius: 10px;
   
    
  }
  
  .single-body {
    display: block;
    font-size: 12px;
    text-align: left;
  }
  
  
  .single-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;

  }

  .single-link{
 
    height: auto;
    width: auto;
    padding: 0 10px;
    margin: 10px 50px 20px;
  }


  
